* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.alert {
  margin: 0 0 0.5rem 0;
}

:root {
  --border-color: #585858;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f8f8f2;
    --background-color: #282828;
    --primary-color: #708152;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #282828;
    --background-color: #f8f8f2;
    --primary-color: #708152;
  }
}

@media screen and (orientation: portrait) {
  .app {
    flex-direction: column-reverse;
  }
}

@media screen and (orientation: landscape) {
  .app {
    flex-direction: column;
  }
}

.ant-input-number {
  width: 100%;
}

html {
  height: 100vh;
  width: 100vw;

  body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  body,
  #react-target {
    height: 100%;
    width: 100%;
  }

  .app {
    height: 100%;
    display: flex;

    .ant-layout-header {
      height: unset;
      background: unset;
    }

    .title {
      flex: 1 1 auto;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    header {
      padding: 0.5rem;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 5vh;
          width: 5vh;
          object-fit: cover;
        }
      }
    }

    section.container {
      max-width: 1920px;
      min-width: 100%;
      margin: 0 auto;
      padding: 0.5rem;
      overflow: auto;

      .login {
        max-width: 800px;
        margin: 20vh auto;

        form {
          .title {
            margin: 0;
          }

          button {
            width: 100%;
          }
        }
      }

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          object-fit: cover;
          width: 20vh;
          height: 20vh;
        }
      }
    }

    footer {
      padding: 0.5rem;
    }
  }
}

.rbc-toolbar button {
  color: var(--text-color) !important;
  border-color: var(--border-color) !important;
  background-color: var(--background-color) !important;
}

.rbc-toolbar button:hover,
.rbc-toolbar button:active,
.rbc-toolbar button:focus,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:active,
.rbc-toolbar button.rbc-active:focus {
  color: var(--text-color) !important;
  background-color: var(--primary-color) !important;
}

.rbc-month-view,
.rbc-time-view,
.rbc-agenda-view,
.rbc-month-view *,
.rbc-time-view *,
.rbc-agenda-view * {
  border-color: var(--border-color) !important;
}

.rbc-off-range-bg {
  background: var(--background-color) !important;
}

.rbc-today {
  background-color: var(--primary-color) !important;
}

.rbc-month-view {
  border-radius: 8px;
}

.rbc-month-row:last-child .rbc-row-bg .rbc-day-bg:last-child {
  border-bottom-right-radius: 8px;
}
